<div class="container">
    <div class="row mt-3 pt-3">
      <div class="col-md-10 m-auto text-center">
          <i class="fas fa-shield-alt fa-7x"></i>
          <h1>Secure Authentication</h1>
          <p class="m-3" style="font-size: large;">Create an account or login</p>
          <a href="/auth/login" class="btn button btn-lg m-3" role="button">LOGIN</a>
          <a href="/auth/register" class="btn button btn-lg m-3" role="button">REGISTER</a>
      </div>
    </div>
</div>