@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: -20px 0 50px;
  overflow: hidden;
}

h1 {
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a.button {
  border-radius: 20px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

a.button:hover {
  background: #fff;
  color: #642B73;
}

a:active {
  transform: scale(0.95);
}

a:focus {
  outline: none;
}

.container {
  background: #642b73;
  background: linear-gradient(to right, #642b73, #c6426e) no-repeat 0 0 / cover;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #fff;
  border: 1px solid #222;
  border-radius: 10px;
  margin: 10px 25px 10px 25px;
  padding: 10px 25px 10px 25px;
  height: 400px;
}
